.field-checkbox {
  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '☐';
      font-size: var(--size-m);
      margin-right: var(--space-default);
      height: 38px;
    }
  }
}

.field-checkbox-disabled {

  label,
  input {
    pointer-events: none;
    opacity: .5;
  }
}

.field-checkbox-checked {
  label:before {
    content: '☑';
  }
}