.mark-list {
  list-style-position: inside;

  & ::marker {
    content: '✅ ';
  }

  li {
    padding: var(--space-s);

    &:nth-child(odd) {
      background: linear-gradient(to right, var(--color-accent-secondary),
          var(--color-accent-secondary));
    }

  }
}